* {
  margin: 0;
  padding: 0;
}

.container {
  width: 75%;
  max-width: 1440px;
  margin: auto;
}

/* Intro Section */

.intro {
  width: 100%;
  height: 500px;
  background: url(images/bg-pattern-intro.svg), linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-position: 25%;
  border-bottom-left-radius: 75px;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  width: 100%;
  font-family: Overpass;
  font-weight: 600;
}

.navbar .nav-left-options a,
.navbar .nav-right-options .login {
  text-decoration: none;
  font-size: 18;
  color: rgba(255, 255, 255, 0.75);
}

.nav-options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-left-options {
  display: flex;
  gap: 30px;
  margin-left: 80px;
  margin-top: 10px;
}

.nav-right-options {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Nav dropdowns */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  padding: 15px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.drop-gap {
  height: 10px;
}

.navbar .nav-left-options .dropdown-content a {
  float: none;
  color: rgba(0, 0, 0, 0.7);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}

.navbar .nav-left-options a:hover,
.navbar .nav-right-options .login:hover,
.dropdown:hover .dropbtn {
  color: white;
  border-bottom: 2px solid white;
}

.navbar .nav-left-options .dropdown-content a:hover {
  color: black;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* buttons */

.btn-primary {
  font-family: Ubuntu;
  background-color: white;
  color: hsl(356, 100%, 66%);
  font-weight: 600;
  width: 110px;
  padding: 14px 14px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  border: none;
  text-decoration: none;
}

.btn-light {
  font-family: Ubuntu;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
  width: 110px;
  padding: 13px 14px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.btn-primary:hover {
  background-color: hsl(355, 100%, 74%);
  color: white;
}

.btn-light:hover {
  background-color: white;
  color: hsl(355, 100%, 74%);
}

/* intro text section / cta */

.intro-title {
  text-align: center;
  margin-top: 100px;
  font-family: Overpass;
}

.intro-title h1 {
  color: white;
  font-size: 50px;
}

.intro-title h5 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 17px;
  margin-top: 10px;
}

.button-cta {
  margin-top: 40px;
}

.start-free,
.learn-more {
  margin: 0 5px;
}

/* Section one */

.section-one {
  font-family: Overpass;
}

.section-head-dark {
  text-align: center;
  margin-top: 120px;
  font-size: 37px;
  font-weight: bold;
  color: hsl(208, 49%, 24%);
}

.section-one-text {
  width: 50%;
  padding-top: 40px;
}

.feature {
  color: hsl(208, 49%, 24%);
  font-size: 28px;
  margin-top: 75px;
  margin-bottom: 20px;
}

.feature-text {
  color: hsl(207, 13%, 34%);
  font-size: 16px;
  line-height: 1.8;
}

.editor {
  position: absolute;
  left: 55%;
  top: 550px;
}

/* Section 2 */

.section-two {
  margin-top: 300px;
  height: 400px;
  background: url(images/bg-pattern-circles.svg), linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position-x: -52%;
  background-position-y: 85%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  font-family: Overpass;
  color: white;
}

.section-two-content {
  display: flex;
}

.phones {
  position: relative;
  top: -70px;
  left: -50px;
}

.section-two-text {
  width: 50%;
  margin-top: 100px;
}

.section-head-light {
  font-size: 37px;
}

.section-text-light {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.75);
}
