* {
  margin: 0;
  padding: 0;
}

.intro {
  width: 100%;
  height: 600px;
  background: url(images/bg-pattern-intro.svg), linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-position: 25%;
  border-bottom-left-radius: 75px;
}

.container {
  width: 75%;
  max-width: 1440px;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  width: 100%;
  font-family: Overpass;
  font-weight: 600;
}

.navbar .nav-left-options a,
.navbar .nav-right-options .login {
  text-decoration: none;
  font-size: 18;
  color: rgba(255, 255, 255, 0.75);
}

.nav-options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-left-options {
  display: flex;
  gap: 30px;
  margin-left: 80px;
}

.nav-right-options {
  display: flex;
  gap: 30px;
  align-items: center;
}

.btn-primary {
  font-family: Ubuntu;
  background-color: white;
  color: hsl(356, 100%, 66%);
  font-weight: 600;
  width: 110px;
  padding: 14px 14px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  border: none;
  text-decoration: none;
}

.btn-light {
  font-family: Ubuntu;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
  width: 110px;
  padding: 13px 14px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.intro-title {
  text-align: center;
  margin-top: 100px;
  font-family: Overpass;
}

.intro-title h1 {
  color: white;
  font-size: 50px;
}

.intro-title h5 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  margin-top: 10px;
}

.button-cta {
  margin-top: 40px;
}
