* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 75%;
  max-width: 1440px;
  margin: auto;
}

/* Intro Section */

.intro {
  width: 100%;
  height: 500px;
  background: url(images/bg-pattern-intro.svg), linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-position: 25%;
  border-bottom-left-radius: 100px;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  width: 100%;
  font-family: Overpass;
  font-weight: 600;
}

.navbar .nav-left-options a,
.navbar .nav-right-options .login {
  text-decoration: none;
  font-size: 18;
  color: rgba(255, 255, 255, 0.75);
}

.nav-options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.icon-close {
  display: none;
}

.nav-left-options {
  display: flex;
  gap: 30px;
  margin-left: 80px;
  margin-top: 10px;
}

.nav-right-options {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Nav dropdowns */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  padding: 15px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.drop-gap {
  height: 10px;
}

.navbar .nav-left-options .dropdown-content a {
  float: none;
  color: rgba(0, 0, 0, 0.7);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}

.navbar .nav-left-options a:hover,
.navbar .nav-right-options .login:hover,
.dropdown:hover .dropbtn {
  color: white;
  border-bottom: 2px solid white;
}

.navbar .nav-left-options .dropdown-content a:hover {
  color: black;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* buttons */

.btn-primary {
  font-family: Ubuntu;
  background-color: white;
  color: hsl(356, 100%, 66%);
  font-weight: 600;
  width: 110px;
  padding: 14px 14px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  border: none;
  text-decoration: none;
}

.btn-light {
  font-family: Ubuntu;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 600;
  width: 110px;
  padding: 13px 14px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.btn-primary:hover {
  background-color: hsl(355, 100%, 74%);
  color: white;
}

.btn-light:hover {
  background-color: white;
  color: hsl(355, 100%, 74%);
}

/* intro text section / cta */

.intro-title {
  text-align: center;
  margin-top: 100px;
  font-family: Overpass;
}

.intro-title h1 {
  color: white;
  font-size: 50px;
}

.intro-title h5 {
  color: rgba(255, 255, 255, 0.75);
  font-size: 17px;
  margin-top: 10px;
}

.button-cta {
  margin-top: 40px;
}

.start-free,
.learn-more {
  margin: 0 5px;
}

/* Section one */

.section-one {
  font-family: Overpass;
}

.section-head-dark {
  text-align: center;
  margin-top: 120px;
  font-size: 37px;
  font-weight: bold;
  color: hsl(208, 49%, 24%);
}

.section-one-text {
  width: 50%;
  padding-top: 40px;
}

.feature {
  color: hsl(208, 49%, 24%);
  font-size: 28px;
  margin-top: 75px;
  margin-bottom: 20px;
}

.feature-text {
  color: hsl(207, 13%, 34%);
  font-size: 16px;
  line-height: 1.8;
}

.editor {
  position: absolute;
  left: 55%;
  top: 550px;
  overflow: hidden;
}

.editor-mobile {
  display: none;
  width: 100%;
  margin-top: 50px;
}

/* Section 2 */

.section-two {
  margin-top: 300px;
  height: 400px;
  background: url(images/bg-pattern-circles.svg), linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-position-x: -52%;
  background-position-y: 85%;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  font-family: Overpass;
  color: white;
}

.section-two-content {
  display: flex;
}

.phones {
  position: relative;
  top: -70px;
  left: -50px;
}

.section-two-text {
  width: 50%;
  margin-top: 100px;
}

.section-head-light {
  font-size: 37px;
}

.section-text-light {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.75);
}

/* Section 3 */

.section-three-content {
  font-family: Overpass;
}

.laptop {
  position: relative;
  left: -460px;
  top: 150px;
}

.section-three-text {
  width: 50%;
  position: relative;
  left: 50%;
  top: -530px;
}

/* Footer section */

footer {
  background-color: hsl(240, 10%, 16%);
  height: 300px;
  margin-top: -250px;
  border-top-right-radius: 100px;
  padding-top: 80px;
  color: white;
  font-size: 15px;
  font-family: Overpass;
}

.footer-links {
  display: flex;
  position: relative;
  left: 27%;
  gap: 200px;
  margin-top: -40px;
}

ul {
  list-style: none;
  line-height: 2;
}

.footer-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
  color: white;
}

.list-head {
  font-weight: bold;
  margin-bottom: 25px;
}

.attribution {
  position: relative;
  bottom: -50px;
  text-align: center;
  font-size: 10px;
}

.attribution a {
  color: white;
}

@media (max-width: 1040px) {
  .container {
    width: 85%;
  }

  /* Responsive Navbar */

  .navbar a,
  .dropdown .dropbtn {
    display: none;
  }

  .navbar {
    display: inline-block;
  }

  .nav-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    margin: 50px 0 0 0;
    border-radius: 10px;
  }

  .nav-left-options {
    display: block;
    margin-top: 0;
    margin-left: 0;
  }

  .nav-right-options {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .logo {
    float: left;
  }

  .navbar .hamburger {
    display: block;
    float: right;
  }

  .navbar .icon-close {
    display: none;
    float: right;
  }

  .drop-gap {
    display: none;
  }

  .drop-arrow {
    display: none;
  }

  a.dropbtn {
    margin-top: 20px;
  }

  .navbar .nav-left-options .dropdown-content a {
    float: none;
    color: rgba(0, 0, 0, 0.7);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
  }

  .navbar .nav-left-options a:hover,
  .navbar .nav-right-options .login:hover,
  .dropdown:hover .dropbtn {
    color: hsl(208, 49%, 24%);
  }

  .navbar .nav-right-options .login {
    color: hsl(208, 49%, 24%);
    margin-top: 30px;
  }

  .nav-btn-primary {
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    margin-bottom: 30px;
  }

  .intro-title {
    display: block;
    margin-top: 50px;
  }

  .intro-title h1 {
    font-size: 40px;
  }

  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive a.hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
    color: hsl(208, 49%, 24%);
    font-size: 20px;
  }
  .navbar.responsive .dropdown {
    float: none;
  }
  .navbar.responsive .dropdown-content {
    position: relative;
    background-color: white;
  }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }

  /* Section 1 */

  .editor {
    display: none;
  }

  .editor-mobile {
    display: block;
  }

  .section-head-dark {
    text-align: center;
    margin-top: 120px;
    font-size: 37px;
    font-weight: bold;
    color: hsl(208, 49%, 24%);
  }

  .section-one-text {
    width: 100%;
    padding-top: 0;
    text-align: center;
  }

  .feature {
    color: hsl(208, 49%, 24%);
    font-size: 28px;
    margin-top: 75px;
    margin-bottom: 20px;
  }

  .feature-text {
    color: hsl(207, 13%, 34%);
    font-size: 16px;
    line-height: 1.8;
  }
}
